/* styles.css */
@font-face {
	font-family: HeaderFont;
	src: url(jsMath-cmti10.ttf);
}
@font-face {
	font-family: PageFont;
	src: url(scheherazade-new-latin-ext-700-normal.ttf);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: 'Gill Sans';
	line-height: 1.6;
	color: #DCA958;
	background-color: #041B29;
  }
  
  .header {
	background-color: #041B29;
	color: #DCA958;
	padding: 20px;
	text-align: center;
	position: relative;
  }
  
  .nav {
	font-family: 'Courier New';
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	border: 1px solid #DCA958;
	border-top: none;
	padding-bottom: 10px;
	padding-top: 50px;
	z-index: 1;
  }
  
  .nav li {
	margin-right: 20%;
	display: inline-block;
	margin: 0 200px;
	transform: translateY(-45px);
	font-family: HeaderFont;
  }
  
  .nav a {
	color: #DCA958;
	text-decoration: none;
	font-size: x-large;
	text-align: center;
	padding-bottom: 20%;
  }
  
  .nav a:hover {
	color: #fff;
  }
  
  .main {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 2em;
	margin: bottom 20px; ;
  }
  
  .sidebar-kiri {
	background-color: #041B29;
	padding: 2em;
	margin: 0 auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 10%;
	border-right: 1px solid #DCA958;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
  }
  
  .sidebar-kanan {
	background-color: #041B29;
	padding: 2em;
	margin: 0 auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 10%;
	border-left: 1px solid #DCA958;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
  }

  .section {
	position: relative;
	background-color: #041B29;
	padding: 2em;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 60%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: x-large;
	font-family: PageFont;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
  }
  
  .section .section-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 1;
	padding-top: 800px;
  }
  
  .section img {
	position: absolute;
	top: 235px;
	right: -250px;
	width: 1500px;
	height: 600px;
	object-fit: cover;
	opacity: 0.5;
	z-index: 0;
  }
  
  .footer {
	background-color: #041B29;
	color: #DCA958;
	padding: 1em;
	text-align: center;
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #DCA958;
	font-size: x-large;
  }
  
  .footer p {
	margin-bottom: 10px;
  }

  .social-media {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 100px;
  }
  
  .social-media a {
	margin: 10px;
  }
  
  .social-media img {
	width: 150%;
	margin-top: 5px;
  }

  .gambar-kiri {
	position: absolute;
	top: 20px;
	left: 50px;
	width: 100px;
	height: 100px;
	background-image: url('C:\Users\HP\Downloads\figma_htmlgenerator\images\Logo Makanan.png');
  }
  
  .gambar-kanan {
	position: absolute;
	top: 10px;
	right: 40px;
	width: 100px;
	height: 100px;
	background-image: url('C:\Users\HP\Downloads\figma_htmlgenerator\images\Logo FS.png');
  }
  
  /* Media Query */
  @media (max-width: 768px) {
	.nav {
	  flex-direction: column;
	}
	.nav li {
	  margin-right: 0;
	}
	.main {
	  flex-direction: column;
	}
	.sidebar-kiri, .sidebar-kanan {
	  width: 100%;
	}
	.section {
	  width: 100%;
	  position: relative;
	  top: 0;
	  left: 0;
	  transform: none;
	}
  }
  
  @media (max-width: 480px) {
	.nav {
	  flex-direction: column;
	  align-items: center;
	}
	.nav li {
	  margin-bottom: 10px;
	}
	.main {
	  padding: 1em;
	}
	.sidebar-kiri, .sidebar-kanan {
	  padding: 1em;
	}
	.section {
	  padding: 1em;
	}
  }